.background {
    padding: 0;
    background-image: linear-gradient(rgba(229,220,203,0.9), rgba(229,220,203,0.6)), url("../images/boardGame.png");
    background-position: fit;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E5DCCB;
    text-align: center;
    overflow-x: hidden;
    margin-top: -70px;
}

.rowPadding { padding: 0 300px; }

.buttonRow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonRow a {
    width: 100%;
    margin-bottom: 10px;
}

.banner {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(73,35,9,0.9), rgba(73,35,9,0.9)), url("../images/boardGameDrawings.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E5DCCB;
    text-align: center;
    padding: 20px;
}

.banner h1 {
    font-size: 48px;
    color: #E5DCCB;
}

.teamMembers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.teamMember {
    max-width: 300px;
    margin: 10px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #492309;
    border-radius: 25px;
    color: #E5DCCB;
}

.teamMemberPic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.footer {
    margin-top: 30px;
    background-color: #492309;
}

/* Media query for smaller screens */
@media (max-width: 767.98px) {
    .center-align-cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .buttonRow {
        flex-direction: row;
    }

    .buttonRow a {
        width: auto;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .rowPadding {
        padding: 0;
    }

    .teamMember {
        width: calc(50% - 20px);
    }
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .buttonRow {
        flex-direction: row;
        justify-content: center;
    }

    .buttonRow a {
        width: auto;
        margin-bottom: 0;
        margin-right: 10px;
    }
}