.background {
    padding: 0;
    background-image: linear-gradient(rgba(229,220,203,0.9), rgba(229,220,203,0.6)), url("../images/boardGame.png");
    background-position: fit;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E5DCCB;
    text-align: center;
    overflow-x: hidden;
    margin-top: -70px;
}

.rowPadding { padding: 0 300px; }

.buttonRow {
    display: flex;
    justify-content: space-between;
}

.buttonRow {
    margin: 0 50px;
}

.banner {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(73,35,9,0.9), rgba(73,35,9,0.9)), url("../images/boardGameDrawings.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E5DCCB;
    text-align: center;
    padding: 20px;
}

.banner h1 {
    font-size: 48px;
    color: #E5DCCB;
}

.teamMembers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10rem;
}

.teamMember {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #492309;
    border-radius: 25px;
    color: #E5DCCB;
}

.teamMemberPic {
    width: 150px;
    height: 150px;
     border-radius: 50%;
}

@media (max-width: 768px) { .team-member { width: calc(50% - 20px); }}

.footer {
    margin-top: 30px;
    background-color: #492309;
}