.navbar {
    background-color: #E5DCCB;
    padding: 18px;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 8px #2e1606;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.navItem {
    display: inline;
    margin-right: 20px;
}


.navItem a {
  text-decoration: none;
  color: #000;
}

.navItem:last-child {
  margin-left: auto;
}

.navItem a:hover {
  color: #A4410E;
}
