.sidebar {
    background-color: #5c3c23;
    box-shadow: 2px 2px 8px #2e1606;
    margin-bottom: 50px;
}

.sideNavLinks{
    width: 100%;
    max-width: 100%;
    margin-top: -60px;
}

.sideNavDiv {
    width: 100%;
    max-width: 100%;
    padding: 25px 15px;
    background-color: #5c3c23;
    border: none;
    border-radius: 0 !important;
    color: #E5DCCB;
    text-align: left;
    padding-left: 4.5rem;
}

.sideNavDiv.active,
.sideNavDiv:hover {
    background-color: #A4410E;
    color: #E5DCCB;
}

.sideNavDiv + .sideNavDiv{
    margin-top: 0.2rem;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        margin-bottom: 0;
    }

    .sideNavLinks{
        margin-top: 10rem;
        padding: 5rem 0;
    }
}
